header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333333;
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}
.jobscontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 100px;
  gap: 20px;
  justify-content: center;
}
.jobstyle {
  padding: 15px;
  height: 280px;
  width: 280px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 4px;
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  flex: 1;
}

.red {
  border-color: red;
}
.green {
  border-color: green;
}
.yellow {
  border-color: yellow;
}
.blue {
  border-color: blue;
}
.pink {
  border-color: pink;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0;
}
.author {
  font-weight: bold;
}
